{
  "Name":  "XCode数据缓存，用于加速各实体类启动",
  "Counts":  {
    "Membership_User_UserX":  2,
    "Membership_SpotEuipments_SpotEuipments":  6,
    "Membership_FaultEquipment_FaultEquipment":  0,
    "Log_UserOnline_UserOnline":  10,
    "Membership_FlowEquipment_FlowEquipment":  2,
    "Membership_Role_Role":  4,
    "Membership_PressureEquipment_PressureEquipment":  1,
    "Membership_IntelligentTerminal_IntelligentTerminal":  1
  },
  "FieldCache":  {
    
  }
}