{
  "Name":  "XCode数据缓存，用于加速各实体类启动",
  "Counts":  {
    "Membership_User_UserX":  2,
    "SqlServer_ValveEquipment_ValveEquipment":  0,
    "Membership_SpotEuipments_SpotEuipments":  7,
    "SqlServer_SpotEuipment_SpotEuipment":  0,
    "Log_AppLog_AppLog":  0,
    "SqlServer_FlowEquipment_FlowEquipment":  5,
    "Membership_ValveEquipment_ValveEquipment":  4,
    "SqlServer_IntelligentTerminal_IntelligentTerminal":  5,
    "Log_UserOnline_UserOnline":  0,
    "Membership_SpotEuipment_SpotEuipment":  0,
    "Cube_App_App":  0,
    "SqlServer_PressureEquipment_PressureEquipment":  3,
    "Membership_FlowEquipment_FlowEquipment":  2,
    "Log_Log_Log":  662,
    "SqlServer_SpotEuipments_SpotEuipments":  0,
    "Membership_Role_Role":  4,
    "Membership_PressureEquipment_PressureEquipment":  2,
    "Membership_IntelligentTerminal_IntelligentTerminal":  3
  },
  "FieldCache":  {
    "Log_Category":  {
      "用户":  "用户 (408)",
      "菜单":  "菜单 (194)",
      "角色":  "角色 (47)",
      "访问":  "访问 (5)",
      "数据库":  "数据库 (4)",
      "魔方设置":  "魔方设置 (3)",
      "系统设置":  "系统设置 (1)"
    }
  }
}