@using NewLife.Common
@{
    /**/
    var set = NewLife.Cube.Setting.Current;

}

<!-- LOGIN FORM -->
<!--===================================================-->
<div class="tab-pane fade in active" id="Login">
    <div class="cls-content-sm panel" >

        @using (Html.BeginForm("Login", "User", new { r = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "cube-login" }))
        {
            if (set.AllowLogin)
            {

                <div class="panel-body">
                    <div class="mar-ver pad-btm">
                        <h1 class="h3">Account Login</h1>
                        <p>Sign In to your account</p>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>

                        <div class="checkbox pad-btm text-left">
                            <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                            <label for="demo-form-checkbox">Remember me</label>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
                    </form>
                </div>
                <div class="pad-all">
                    <a href="#Forgot" class="btn-link mar-rgt" data-toggle="tab">Forgot password ?</a>
                    @if (set.AllowRegister)
                    {


                        if (set.AllowRegister)
                        {
                            <a href="#Register" class="btn-link mar-lft" data-toggle="tab">Create a new account</a>
                        }
                    }
                    @Html.Partial("_Login_Login3")
                </div>

            }
        }
    </div>
</div>
