@{ 
    var fact = ViewBag.Factory as IEntityOperate;
} 
 <!--样式定义-->
    <link rel="stylesheet" href="//cdn.bootcss.com/zui/1.8.1/css/zui.min.css">
    <script src="//cdn.bootcss.com/zui/1.8.1/lib/jquery/jquery.js"></script>
    <script src="//cdn.bootcss.com/zui/1.8.1/js/zui.min.js"></script>

    <link href="~/lib/uploader/zui.uploader.min.css" rel="stylesheet" />
    <script src="~/lib/uploader/zui.uploader.min.js"></script>
    <!--样式定义-->

    <!--上传组件-->
    <div class="clearfix form-actions col-sm-12 col-md-12">
        <div id="uploaderExample2" class="uploader" data-ride="uploader" data-url="/FlowEquipment/Upload">
            <div class="uploader-message text-center">
                <div class="content"></div>
                <button type="button" class="close">×</button>
            </div>
            <div class="uploader-files file-list file-list-lg" data-drag-placeholder="请拖拽文件到此处"></div>
            <div class="uploader-actions">
                <div class="uploader-status pull-right text-muted"></div>
                <button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-plus"></i> 选择文件</button>
                <button type="button" class="btn btn-link uploader-btn-start"><i class="icon icon-cloud-upload"></i> 开始上传</button>
                @ViewData["name"]
            </div>
        </div>
        <!--上传组件-->
    </div>